<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssaw.DayEndProcessing.mapper.InventoryStatisticsMapper">
<!-- 证券库存统计-->
    <select id="selectSecuritiesInventory"
            resultType="com.ssaw.DayEndProcessing.entity.SecuritiesInventoryData" >
    select
        NVL(jy.securitiesid,si.securitiesid) as securitiesId,
            sum(nvl(si.securitiesNum,0))-sum(nvl(jy.newNum,0)) as todayNum,
            sum(nvl(si.total,0))-sum(nvl(jy.newNetRectipts,0)) as todayTotal,
            (case when  ((sum(nvl(si.securitiesNum,0))-sum(nvl(jy.newNum,0)))=0) then 0
            else   (sum(nvl(si.total,0))-sum(nvl(jy.newNetRectipts,0)))/(sum(nvl(si.securitiesNum,0))-sum(nvl(jy.newNum,0))) end )
             as unitPrice
            from (select * from securitiesInventory where DATETIME=to_char(to_date(#{dateTime},'yyyy-MM-dd')-1,'yyyy-MM-dd') and FUNDID=#{fundId}) si
             full join(select sum(nvl(num,0)*flag) as newNum,sum(nvl(netReceipts,0)*flag) as newNetRectipts,securitiesId from transactionData where DATETIME=#{dateTime} and FUNDID=#{fundId} group by securitiesId)  jy
                  on si.SECURITIESID=jy.SECURITIESID
                  group by si.securitiesId,jy.securitiesId
    </select>
    <select id="selectTaInventory" resultType="com.ssaw.DayEndProcessing.entity.TaInventoryData">
	SELECT
         sum(tatotal) AS taTotal,sum(tanum) AS taNum,fundId FROM
	(select tatotal,tanum,fundId from
    TAINVENTORY where fundId=#{fundId} and
    dateTime=to_char(to_date(#{dateTime},'yyyy-MM-dd')-1,'yyyy-MM-dd')
    UNION
    select sum(totalMoney*(case transactionType when 3 then -1 else 1 end)) as totalMoney,
    sum(fundNum*(case transactionType when 3 then -1 else 1 end)) AS fundNum,fundId
    from
    TATransaction WHERE
    DATETIME=#{dateTime}  AND fundId=#{fundId}  group by
    fundid) a
	GROUP BY a.fundId
    </select>
    <select id="selectCashInventory" resultType="com.ssaw.DayEndProcessing.entity.CashInventoryData">
          select (nvl(ci.cashBlance,0) + nvl(bt.totalNum,0)) as cashTotal,nvl(bt.accountId,ci.accountId) as accountId from
        (select nvl(CASHBLANCE,0) as cashBlance ,ACCOUNTID from CASHINVENTORY where DATETIME=to_char(to_date(#{dateTime},'yyyy-MM-dd')-1,'yyyy-MM-dd') and FUNDID=#{fundId} ) ci
            full join
            (select accountId,sum(nvl(totalprice,0)*flag) as totalNum from bankTreasurer where DBTIME=#{dateTime} and FUNDID=#{fundId}   group by accountId) bt
        on ci.ACCOUNTID=bt.ACCOUNTID
    </select>
    <select id="selectSecuritiesClosedPayInventory"
            resultType="com.ssaw.DayEndProcessing.entity.SecuritiesClosedPayInventoryData">
        select nvl(ns.securitiesid,se.securitiesid)as securitiesid,nvl(ns.totalPrice,0)+nvl(se.amount,0) as
		total,nvl(ns.flag,se.flag) as flag
        from
        (select * from SECURITIESCLOSEDPAYINVENTORY where fundid=#{fundId}
        and securitiesType = 3  and DATETIME=to_char(to_date(#{dateTime},'yyyy-MM-dd')-1,'yyyy-MM-dd')) ns
        full join
        (select sum(nvl(amount,0)) as amount,securitiesid,flag from
        securitiesClosedPay where fundId=#{fundId} and serviceType=3 and
        dateTime=#{dateTime} group by securitiesid,amount ,flag) se
		on ns.securitiesid = se.securitiesid
    </select>
    <select id="selectCashClosedPayInventory"
            resultType="com.ssaw.DayEndProcessing.entity.CashClosedPayInventoryData">
select nvl(tr.accountId,ca.accountId) as accountId,
    nvl(tr.serviceType,ca.businessType) as businessType,
    nvl(ca.totalPrice,0)+nvl(tr.amount,0) as casheTotal
    ,nvl(tr.flag,ca.BUSINESSSTATUS) as flag
    from
    (select sum(nvl(TOTALMONEY*BUSINESSSTATUS,0)) AS totalPrice,accountId,businesstype,BUSINESSSTATUS from CASHCLOSEDPAYINVENTORY
    where fundId=#{fundId} and BUSINESSDATE=to_char(to_date(#{dateTime},'yyyy-MM-dd')-1,'yyyy-MM-dd') and businessType in(1,2,3)
    GROUP BY accountId,businesstype,BUSINESSSTATUS) ca
    full join
        (select sum(nvl(amount*flag,0)) as amount,accountId,serviceType,flag
        from cashClosedPay where
    fundid=#{fundId} and dateTime=#{dateTime} and serviceType in(1,2,3)
    group by accountId,serviceType,flag) tr
    on ca.accountId=tr.accountId AND tr.serviceType=ca.businesstype AND ca.BUSINESSSTATUS=tr.flag
    </select>

</mapper>