<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>资产估值</title>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <script src="../lib/layuimini/lib/layui-v2.5.5/layui.js"></script>
    <script src="../lib/layuimini/js/lay-config.js"></script>
    <link type="text/css" rel="stylesheet" href="../lib/layuimini/lib/layui-v2.5.5/css/layui.css"/>
    <script src="../js/assetValuation.js"></script>
</head>
<body style="overflow: auto; background-color: white;"
      class="layui-view-body layui-content">
<div>
    <table id="mytable" lay-filter="mytable"></table>
    <div style="display: none;" id="toolbarDemo">
        <div style="position: absolute; left: 5px;top:10px;">

            <div class="layui-form-item layui-form-pane" style="text-align: center;">
                <label style="height: 32px; width: 100px;" class="layui-form-label">估值日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="toDay" style="height: 32px;" class="layui-input"
                            id="valuation1" >
                    <span id="valuation2"></span>
                </div>
                <button type="button" id="valuationBtn" lay-event="valuation"
                        class="layui-btn layui-btn-sm">估值
                    <input type="hidden" name="fundId" id="fundId" th:value="${session.fundId}">
                    <input type="hidden" name="accountId" id="accountId" th:value="${session.accountId}">
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>