<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssaw.BusinessDescription.mapper.SecuritiesMapper">
    <delete id="deleteSecurities" parameterType="list">
        delete from securities where securitiesId in
        <foreach collection="list" item="securitiesId" open="(" separator="," close=")">
            #{securitiesId}
        </foreach>
    </delete>
    <update id="updateSecurities" parameterType="com.ssaw.BusinessDescription.entity.Securities">
        update securities set securitiesName=#{securitiesName},securitiesType=#{securitiesType},issueDate=#{issueDate},delayDate=#{delayDate},stockId=#{stockId},exchange=#{exchange},securitiesDesc=#{securitiesDesc} where securitiesId=#{securitiesId}
    </update>
    <insert id="insertSecurities" parameterType="com.ssaw.BusinessDescription.entity.Securities">
        insert into securities(securitiesId,securitiesName,securitiesType,issueDate,delayDate,stockId,exchange,securitiesDesc) values (#{securitiesId},#{securitiesName},#{securitiesType},#{issueDate},#{delayDate},#{stockId},#{exchange},#{securitiesDesc})
    </insert>
    <resultMap id="securitiesMap" type="com.ssaw.BusinessDescription.entity.SecuritiesAndStock">
        <result property="securitiesId" column="securitiesId" javaType="String"></result>
        <result property="securitiesName" column="securitiesName" javaType="String"></result>
        <result property="securitiesType" column="securitiesType" javaType="Integer"></result>
        <result property="issueDate" column="issueDate" javaType="String"></result>
        <result property="delayDate" column="delayDate" javaType="String"></result>
        <result property="stockId" column="stockId" javaType="String"></result>
        <result property="exchange" column="exchange" javaType="Integer"></result>
        <result property="securitiesDesc" column="securitiesDesc" javaType="String"></result>
        <result property="stockParentId" column="stockParentId" javaType="String"></result>
        <result property="stockName" column="stockName" javaType="String"></result>
        <result property="stockDesc" column="stockDesc" javaType="String"></result>
    </resultMap>
    <select id="selectSecurities" parameterType="java.util.Map" statementType="CALLABLE">
        {call pkg_tables.sp_select(#{p_tableName,mode=IN,jdbcType=VARCHAR},#{p_condition,mode=IN,jdbcType=VARCHAR},#{p_pageSize,mode=IN,jdbcType=INTEGER},#{p_page,mode=IN,jdbcType=INTEGER},#{p_count,mode=OUT,jdbcType=INTEGER},#{p_cursor,mode=OUT,jdbcType=CURSOR,javaType=ResultSet,resultMap=securitiesMap})}
    </select>
</mapper>