<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssaw.ReportManagement.mapper.SecuritiesMarketMapper">

    <select id="selectSecuritiesMarket" resultType="com.ssaw.ReportManagement.entity.SecuritiesMarket">
         select * from (select si.securitiesId securitiesId,SECURITIESNAME,securitiesNum,price,closingPrice from (select  * from securitiesInventory where DATETIME=#{dateTime})si join securities  s on si.SECURITIESID=s.SECURITIESID
    join market m on si.securitiesId=m.SECURITIESID),(select marketValue projectId from valueStatistics  where valueStatisticsDate=#{dateTime}  and projectName='资产净值')
    </select>

</mapper>
